<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcD41oimTXZuNDLOR4vD7afM1SuOaL1Rs</string>
	<key>GCM_SENDER_ID</key>
	<string>212229248536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.student2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>student2-84b2e</string>
	<key>STORAGE_BUCKET</key>
	<string>student2-84b2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212229248536:ios:1ad247f1a4f5a607d9156d</string>
</dict>
</plist>